# this is an example dotenv file.
# to pass properties into your app, use following format:
# APX_DEEPAGENT_CHAT_PROP1=SOMETHING

DATABRICKS_CONFIG_PROFILE=DEFAULT

# TODO: Update with the MLflow experiment you want to log traces and models to
MLFLOW_EXPERIMENT_ID=

MLFLOW_TRACKING_URI="databricks://DEFAULT"
MLFLOW_REGISTRY_URI="databricks-uc"

USE_FAKE_MODEL=false
